* {
  box-sizing: border-box;
  text-align: center;
}

.finder-heading,
.downloader-heading {
  font-family: "Oswald", sans-serif;
  margin-top: 40vh;
}

.header,
img #logo {
  background-color: #772626;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 62px;
  padding-bottom: 11%;
  padding-left: 1.5%;
  padding-top: 1%;
}

img,
#logo {
  width: 155px;
  height: 115px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.input-group {
  margin-top: -12%;
  padding-bottom: 6%;
}

.input-group,
.error-results,
#results {
  background: #9a3b3b !important;
  width: 100%;
  margin-top: -5%;
  /* padding-top: 5%; */
}

#results {
  color: white;
  /* display: flex; */
}

.input-group {
  color: #fff;
  text-align: center;
  display: flex;
}

.main {
  padding: 0 15px 50px;
  width: 700px;
  margin: 0 auto;
}

form {
  display: block;
  margin-top: 0em;
}

main .header h1 {
  font-weight: 400;
  font-size: 20px;
}

.cc-notice {
  text-align: center;
  color: #c7c7c7;
  margin-top: 40px;
  margin-bottom: -25px;
}

.cc-notice a {
  color: #957c9c;
  text-decoration: underline;
}

.dark-red nav {
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  flex-direction: row;
  line-height: 42px;
}

.header .logo {
  margin-left: 0;
  margin-top: 8px;
  float: left;
}

body {
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.URL-input,
.download-button,
.go-button,
.max-number,
.search-input {
  font-size: 1.3em;
  padding: 5px 10px;
}

.URL-input,
.search-input,
.max-number {
  border-radius: 4px 0px 0px 4px;
  width: 15em;
  text-align: left;
  border: 2px solid #772626;
  background: #eeeeee;
  outline: none;
  width: 100%;
  padding-right: 15px;
  height: 60px;
  background-color: #fff;
  padding-left: 55px;
  color: #474756;
  font-size: 17px;
  font-weight: 400;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.04);
  background-image: url("https://qdownloader.net/img/input-icon.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center left 12px !important;
}

.URL-input:focus {
  border: 4px solid #00ff00;
}

.search-input:focus {
  border: 4px solid #00ff00;
}

/* .max-number:focus {
  border: 2px solid #ffd3d3;
} */

.download-button,
.go-button {
  border-radius: 0px 3px 3px 0px;
  border: 2px solid #772626;
  background: #772626;
  color: white;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  line-height: 60px;
  width: 100%;
}

.go-button:hover {
  top: 0;
  right: 0;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.782);
}

.max-number {
  width: 12%;
}

button,
input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

#js-error-message {
  color: rgb(255, 255, 255);
  font-size: 20px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.thumbnail {
  height: 360px;
  width: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

#results-list,
ul {
  list-style: none;
  text-align: center;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
}

#results-list,
li, p {
  font-size: 18px;
}

.error-results ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.audio-dl,
.video-dl {
  display: inline-block;
  width: 250px;
  text-align: center;
  padding: 2%;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
}

.audio-dl a,
.video-dl a {
  text-decoration: none;
}

/*//////////////////////*/
.instruction-body {
  width: auto;
  position: relative;
  padding: 20px;
  margin: 50px 0px;
}

.intstruction-content {
  margin: 0 auto;
  width: 100%;
  position: relative;
  min-height: 350px;
}

.instruction-head h3 {
  margin: 15px;
  font-size: 30px;
  color: #772626 !important;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 3%;
}

.instruction-head p {
  padding-top: 2%;
}

.instruction-box {
  width: 30%;
  float: left;
  margin: 10px;
  padding: 10px;
}

.instruction-box-image {
  text-align: center;
  margin-top: 20px;
}

.instruction-box-header {
  margin-top: 20px;
  text-align: center;
}

.instruction-box-heading {
  font-size: 15;
  color: black;
  font-weight: bold;
}

.instruction-box-description {
  margin-top: 10px;
  text-align: center;
  color: black;
}

.footer {
  background-color: #772626;
  position: absolute;
  width: 100%;
}

.footer .footer-left {
  float: left;
  padding-left: 2%;
  padding-top: 1.2%;
}

.footer .footer-left p {
  color: #c7c7c7;
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin: 0;
}

.footer .footer-right {
  float: right;
  color: #c7c7c7;
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding-right: 2%;
}

.footer .footer-right p {
  color: #c7c7c7;
  font-size: 0.875rem;
}

/* @media all and (max-width: 1690px) { ...}
@media all and (max-width: 1280px) { ...}
@media all and (max-width: 980px) { ... }
@media all and (max-width: 736px) { ... } 
@media all and (max-width: 480px) { ... }*/
@media all and (max-width: 360px) {
  header {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img,
  .logo {
    width: 114px;
  }

  .header {
    padding-bottom: 8.5em;
  }

  .input-group {
    margin-top: -8em;
  }

  .thumbnail,
  li {
    height: 144px;
    width: 224px;
  }

.audio-dl, .video-dl{
  margin-top: 9%;
  margin-left: -6%;
  display: inline-block; 
}

.video-dl{
  margin-top: -18%;
} 

/* footer {
  margin-top: 70%;


  padding-top: 60%;
  padding-bottom: 150%;

  




  min-height: 100%;
    height: 100vh !important; 
    margin: 0px auto -155px;




  position: absolute;
  height: 80px;
} */

/* html, body{
  width:100%;
  overflow-x:hidden;
  } */

  /* html, body {
    height: 100%;
  } */
  body {
    display: flex;
    flex-direction: column;
  }  
  .footer {
    flex-shrink: 0;
    position: absolute; 
  }

}
